@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<div class="text-center">
    <div>
        <table class="table table-hover table-dark"> <!--2 BOOTSTRAP STYLES ADDED HERE. table-hover enables hover state for the rows. table-dark makes the table dark.-->
            <caption>List of Books</caption> <!--3rd BOOTSTRAP STYLING HERE. the caption tag helps a users to find tables and understand what it's about.-->
            <thead class="thead">
                <tr>
                    <th scope="col">BookID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author First Name</th>
                    <th scope="col">Author Middle Name</th>
                    <th scope="col">Author Last Name</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Classification</th>
                    <th scope="col">Category</th>
                    <th scope="col">Page Length</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add to Cart Button</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var x in Model.Books)
                {
                    <partial name="BookSummary" model="x" />
                }

            </tbody>
        </table>

    </div>
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>
    
</div>
